*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

@import "_variables.scss";
@import "_desktop.scss";

body{
    
    font-family: 'Lato', sans-serif;
}

.navigation{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:flex-end;

    color:$main-color;
    
    
    
    font-size:24px;

    position:fixed;

    
    margin-bottom:15px;
    z-index:2;
    
    &__assets{
        width:100vw;
        height:100px;
        background-color:$third-color;
        z-index:2;
    }
    & img{
        height:90%;
        margin-left:25px;
        padding-bottom:5px;
        padding-top:5px;
        
    }

    &__hamburger{
        position:absolute;
        display:block;
        right:10vw;
        top:25px;
        
        font-size:50px;
        cursor:pointer;
        
        
        
    }

    &__list{
        display:flex;
        flex-direction:column;
        list-style:none;
        position:absolute;
        right:0;
        top:-500px;
        background-color:$main-color;
        color:$third-color;
        
        transition:0.4s;
        z-index:1;
        
        

        
        &-item{
            
            width:100vw;
            text-align:center;
            border-bottom:1px solid white;
            padding-top:10px;
            padding-bottom:10px;
            cursor:pointer;
           
            

        }
    }
}

.mainSite{
    width:100%;
    height:70vh;
    min-height:500px;
    background-image: url("../assets/family.jpg");
    background-size: cover;
    background-position: center;

    display:flex;
    align-items:flex-end;
    z-index:0;
    
    

    &__background{
        background-color:$main-color;
        opacity:0.75;
        width:100%;
        height:40%;
        // height:230px;
        min-height:220px;
        z-index:0;
        

            
    }

    &__title{
        color:$second-color;
        font-size:38px;
        opacity:1;
        // padding:10px;
        margin-top:15px;
        margin-left:15px;
        margin-bottom:5px;
    }
    
    &__text{
        color:$third-color;
        font-size:28px;
        // padding:10px;
        margin-left:15px;
        margin-right:10%;
    }
    
}

.contact-form{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;

    max-width:700px;
    min-height:500px;
    
    

    padding:25px;

    &__title{
        font-size:22px;
        color:$main-color;
    }

    &__button{
        width:40%;
        align-self:center;
        background-color:$second-color;
        color:$third-color;
        padding:10px 0;
        border-radius:5px;
        font-size:17px;
        border:1px solid $second-color;
        cursor:pointer;


    }

    &__input{
        padding:10px;
        font-size:17px;
        margin:10px 0;

        &-text{
            margin-left:40px;
            margin-top:-30px;
            margin-bottom:30px;
            color:gray;
        }

        &-checkbox{
            width:25px;
            height:25px;
            margin:10px 0;
            margin:-45px 0 0 0px;
            cursor:pointer;
        }

        &:nth-of-type(4){
            width:55%;
        }

        &:nth-of-type(5){
            width:40%;
            
            transform:translateY(-148%);
            align-self:flex-end;
            // justify-self:baseline;
            
        }

       
    }
}

.secondSite{
    display:flex;
    flex-direction:column;

    min-height:550px;

    background-image: url("../assets/secondSite.jpg");
    background-size: cover;
    background-position: center;
    width:100%;

    &__title{
        background-color:$main-color;
        opacity:0.75;
        width:100%;
        min-height:80px;
        color:white;
        line-height:80px;

        & h3{
            font-size:30px;
            margin:0 0 0 25px;
        }
        
    }

    &__text{

        &-title{
            color:$main-color;
            font-size:34px;
            margin:25px 0 25px 25px;
        }

        &-description{
            margin:0 40px 0 25px;

        }

        &-button{
            width:40%;
            align-self:center;
            background-color:$second-color;
            color:$third-color;
            padding:10px 0;
            border-radius:5px;
            font-size:17px;
            border:1px solid $second-color;
            cursor:pointer;
            margin-left:25px;
            margin-top:40px;
        }

    }

}

.footer{
    display:flex;
    flex-direction:row;
    

    background-color:$main-color;
    min-height:250px;
    padding:20px 10px 0 10px;
    color:white;

    &__list{
        list-style:none;
        flex-grow:1;
        padding:10px;
        font-size:12px;
        width:50%;

        &-title{
            color:white;
        }

        &-item{
            padding:5px 0;

            &--color{
                color:$second-color;
            }
            
        }


        & h3{
            margin-bottom:20px;
        }
    }
}