*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

@import "_variables.scss";
@import "_desktop.scss";

body{
    
    font-family: 'Lato', sans-serif;
}

.navigation{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:flex-end;

    color:$main-color;
    border-bottom:1px solid $main-color;
    
    font-size:24px;
    position:fixed;
    
    margin-bottom:15px;
    z-index:5;

    a{
        text-decoration:none;
        color:$main-color;
        transition:0.4s;
            &:hover{
                color:$second-color;
            }
    }
    
    &__assets{
        width:100vw;
        height:100px;
        background-color:$third-color;
        z-index:2;
    }
    & img{
        height:90%;
        margin-left:25px;
        padding-bottom:5px;
        padding-top:5px;

        @include desktopVersion(medium){
            padding-bottom:25px;
            padding-top:10px;
        }
        @include desktopVersion(large){
            padding-bottom:5px;
            padding-top:5px;
        }
        
    }

    &__hamburger{
        position:absolute;
        display:block;
        right:10vw;
        top:25px;
        
        font-size:50px;
        cursor:pointer;
        
        @include desktopVersion(medium){
            display:none;
        }
        
        
    }

    &__list{
        display:flex;
        flex-direction:column;
        list-style:none;
        position:absolute;
        right:0;
        top:-500px;
        background-color:$main-color;
        color:$third-color;
        
        transition:0.4s;
        z-index:1;
        // @include desktopVersion(small){

        // }

        @include desktopVersion(medium){
            background-color:transparent;
            justify-content:flex-end;
            align-items:flex-end;
            width:100%;
            height:90px;
            flex-direction:row;
            top:0px;
            right:0;
            color:$main-color;
            z-index:4;
            margin-right:25px;
        }
        @include desktopVersion(large){
            height:80px;
        }
        // @media(min-width:800px){
        //     flex-direction:row;
        // }
        

        
        &-item{
            
            width:100vw;
            text-align:center;
            border-bottom:1px solid white;
            padding-top:10px;
            padding-bottom:10px;
            cursor:pointer;

            // @include desktopVersion(small){
            //     font-size:18px;
            // }

            @include desktopVersion(medium){
                color:$main-color;
                border-bottom:0px solid white;
                padding:0 10px;
                width:auto;
                font-size:18px;
                transition:0.4s;
                &:hover{
                    color:$second-color;
                }
                
            }
            @include desktopVersion(large){
                font-size:18px;
            }
            @include desktopVersion(xlarge){
                font-size:24px;
            }
            
           
            

        }
    }
}

.mainSite{
    width:100%;
    height:70vh;
    min-height:655px;
    background-image: url("../assets/family.jpg");
    background-size: cover;
    background-position: center;

    display:flex;
    align-items:flex-end;
    z-index:0;

    @include desktopVersion(medium){
        background-position: center;

        height:80vh;
        
    }
    
    

    &__background{
        background-color:$main-color;
        opacity:0.75;
        width:100%;
        height:40%;
        // height:230px;
        min-height:220px;
        z-index:0;
        
        @include desktopVersion(medium){
            height:25%;
        }
        

            
    }

    &__title{
        color:$second-color;
        font-size:38px;
        opacity:1;
        // padding:10px;
        margin-top:15px;
        margin-left:15px;
        margin-bottom:5px;
        // @include desktopVersion(medium){
            
        // }

        
        @include desktopVersion(large){
            margin-top:5px;
            margin-left:10vw;
            font-size:52px;
            margin-right:45vw;

        }
        @include desktopVersion(xlarge){
            margin-top:45px;
            margin-right:20vw;

        }
    }
    
    &__text{
        color:$third-color;
        font-size:28px;
        // padding:10px;
        margin-left:15px;
        margin-right:10%;

        @include desktopVersion(large){
            margin-left:10vw;
            margin-top:0px;
            font-size:28px;
            margin-right:50vw;

        }
        @include desktopVersion(xlarge){
            
            margin-top:20px;
            font-size:32px;
            margin-right:40vw;

        }
    }
    
}

.contact-form{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    margin:0 auto;

    max-width:500px;
    min-width:300px;
    min-height:500px;

    border-radius:10px;
    
    padding:25px;

    @include desktopVersion(large){
        position:absolute;
        background-color:$third-color;
        z-index:2;
        // top:377px;
        top:50%;
        right:10px;
        padding:10px 20px;
        width:400px;
        transform:translateY(-40%);
    }

    @include desktopVersion(xlarge){
        right:30px;
        
    }

    @include desktopVersion(xxlarge){
        right:8vw;
        width:600px;
    }

    &__title{
        font-size:22px;
        color:$main-color;
    }

    &__button{
        width:40%;
        align-self:center;
        background-color:$second-color;
        color:$third-color;
        padding:10px 0;
        border-radius:5px;
        font-size:17px;
        border:1px solid $second-color;
        cursor:pointer;


    }

    &__input{
        padding:10px;
        font-size:17px;
        margin:10px 0;

        &-text{
            margin-left:40px;
            margin-top:-30px;
            margin-bottom:30px;
            color:gray;
        }

        &-checkbox{
            width:25px;
            height:25px;
            margin:10px 0;
            margin:-45px 0 0 0px;
            cursor:pointer;
        }

        &:nth-of-type(4){
            width:55%;
        }

        &:nth-of-type(5){
            width:40%;
            
            transform:translateY(-148%);
            align-self:flex-end;
            // justify-self:baseline;
            
        }

       
    }
}

.secondSite{
    display:flex;
    flex-direction:column;

    min-height:550px;

    background-image: url("../assets/secondSite.jpg");
    background-size: cover;
    background-position: center;
    width:100%;

    @include desktopVersion(medium){
        background-position:0 80% ;
    }

    &__title{
        background-color:$main-color;
        opacity:0.75;
        width:100%;
        min-height:80px;
        color:white;
        line-height:80px;
        @include desktopVersion(medium){
            background-color:transparent;
            color:$main-color;
        }

        & h3{
            font-size:30px;
            margin:0 0 0 25px;
            @include desktopVersion(medium){
                font-size:60px;
                margin-top:2vh;
                margin-left:10vw;
            }
        }
        
        
    }

    &__text{
        

        &-title{
            color:$main-color;
            font-size:34px;
            margin:25px 0 25px 25px;
            @include desktopVersion(medium){
                margin-left:10vw;
                margin-top:5vh;
            }
        }

        &-description{
            margin:0 10vw 0 25px;
            @include desktopVersion(small){
                margin-right:20px;
            
            }
            @include desktopVersion(medium){
                margin-left:10vw;
                margin-top:5vh;
                margin-right:45vw;
            }

        }

        &-button{
            width:40%;
            min-width:350px;
            align-self:center;
            background-color:$second-color;
            color:$third-color;
            padding:10px 0;
            border-radius:5px;
            font-size:17px;
            border:1px solid $second-color;
            cursor:pointer;
            margin-left:25px;
            margin-top:40px;
            @include desktopVersion(medium){
                margin-left:10vw;
                margin-top:5vh;
                max-width:400px;
            }
        }

    }

}

.footer{
    display:flex;
    flex-direction:row;
    

    background-color:$main-color;
    min-height:250px;
    padding:20px 5px 0 10px;
    color:white;

    &__list{
        list-style:none;
        flex-grow:1;
        padding:10px;
        font-size:12px;
        width:50%;
        @include desktopVersion(medium){
            font-size:16px;
        }

        &-title{
            color:white;
        }

        &-item{
            padding:5px 0;

            &--color{
                color:$second-color;
                font-weight:bold;
                &:last-of-type{
                    font-size:20px;
                    @include desktopVersion(large){
                        font-size:30px;
                    }
                    @include desktopVersion(xlarge){
                        font-size:40px;
                    }


                }
            }
            
        }


        & h3{
            margin-bottom:20px;
        }
    }
}